@using WFMDatabase.Entities

@{
    ViewBag.Title = "Smazat";
    Workflow workflow = (Workflow) ViewBag.Workflow;
}

<h2>Smazat</h2>

<h3>Jste si jistý, že chcete smazat workflow?</h3>
<div>
    <h4>@workflow.Name</h4>
    <hr />

    @using (Html.BeginForm("Delete", "ManageWorkflows", new { id = workflow.ID }, FormMethod.Post, htmlAttributes: new { @class = "col-lg-6" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-lg-6">
                <input class="btn btn-success form-control" type="submit" value="ok" />
            </div>
            <div class="col-lg-6">
                <strong>@Html.ActionLink("zrušit", "Index", "ManageWorkflows", htmlAttributes: new { @class = "btn btn-danger form-control" })</strong>

            </div>

        </div>

    }
</div>




