################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/obj
/Database/bin
/packages
/WFManagementSystem/bin
/WFManagementSystem/obj
/WFManagementSystem/UkazkovaObjednavka.pdf
/WFManagementSystem/INPDA model HH.pdf
