################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/obj/Debug/WFMDatabase.csprojResolveAssemblyReference.cache
/Database/obj/Debug/WFMDatabase.Migrations.fixesIdentityUsers.resources
