@using WFMDatabase.Entities
@model Field

@{
    ViewBag.Title = "PerformAction";
}

<h2>@Model.Block.Name</h2>
<p>@Model.Action</p>
<form>
    <div class="form-group">
        <label>Schválit?</label>
        <div class="col-md-10">
            <input class="form-control" type="checkbox" />
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="odeslat" class="btn btn-success" />
        <span class="btn btn-danger">
            @Html.ActionLink("zrušit", "Index")
        </span>

    </div>


</form>
