body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.btn a {
    color: white;
    text-decoration: none;
}

.success {
    background-color: #dff0d8;
}

.waiting {
    background-color: #fcf8e3;
}





/* css pro spravu workflow */
form .first {
    margin-bottom: 3em;
}

.block {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    border: 2px solid black;
}

.formBlock {
    padding-top: 1em;
    padding-bottom: 1em;
    border: 2px solid black;
}


.col-lg-10 .addBlock {
    margin-top: 1em;
}

.paddingZero {
    padding: 0 !important;
}

div div .row {
    margin-left: 0;
    margin-right: 0;
}

.clear {
    clear: both !important;
}

.hide {
    display: none;
}



/* konec css pro spravu workflow */

footer {
    padding-top: 1em;
    clear: both;
}
